<label class="con1">
  <span #topInputText>{{ topOptionText }}</span>
  <input
    type="radio"
    name="{{ topOptionText }}"
    id="{{ topOptionId }}"
    (click)="onChange($event)"
    #topInput
  />
  <span class="checkmark"></span>
</label>
<label class="con1"
  ><span #middleInputText>{{ middleOptionText }}</span>
  <input
    type="radio"
    name="{{ topOptionText }}"
    id="{{ middleOptionId }}"
    (click)="onChange($event)"
    #middleInput
  />
  <span class="checkmark"></span>
</label>
<label class="con1"
  ><span #bottomInputText>No Preference</span>
  <input
    type="radio"
    name="{{ topOptionText }}"
    id="{{ bottomOptionId }}"
    (click)="onChange($event)"
    checked
    #bottomInput
  />
  <span class="checkmark"></span>
</label>
