<div class="web-container">
  <!-- box of sets -->

  <div
    class="randomizer-page"
    *ngIf="finishedTown.length < 10 && showTowns === false"
  >
    <!-- REFACTOR for the saving functionality -->
    <!-- <div>
      Look at saved towns?<button (click)="showTownsToggle()">
        Show me the towns!
      </button>
    </div> -->
    <app-box-with-checkbox
      (changeSet)="eventToggle($event)"
      [items]="setArray"
      header="Please choose the sets you'd like to include!"
    ></app-box-with-checkbox>

    <!-- Box for set-exclusive options -->
    <div class="set-exclusive-container">
      <!-- Base Game Exclusive-->
      <app-box-with-dropdown
        [items]="sistersString"
        header="Keep the sisters together!"
        idProperty="sisterInclusion"
        tooltipText="NOTE: Includes Compy sisters if 'Promo' set is chosen"
        (dropdownChange)="dropdownChange($event)"
      ></app-box-with-dropdown>

      <!-- Base and EtH -->
      <app-box-with-checkbox
        (eventToggle)="filterChange($event, 'null')"
        [items]="privateMaidString"
        header="Private Maids"
        idProperty="includePrivateMaids"
        tooltipText="Select this option if using Tanto Cuore and/or Expanding the House without Private Maids"
      ></app-box-with-checkbox>

      <!-- Base, Oktober, Winter -->
      <app-box-with-checkbox
        (eventToggle)="filterChange($event, 'null')"
        [items]="eventString"
        header="Events"
        idProperty="includeEvents"
        tooltipText="Select this option if using Tanto Cuore, Oktoberfest, and/or Winter Romance without Event cards
  NOTE: Winter Romance 'Drama' cards are treated as Event cards."
      ></app-box-with-checkbox>

      <!-- EtH, Oktober, Winter -->
      <app-box-with-checkbox
        (eventToggle)="filterChange($event, 'null')"
        [items]="buildingString"
        header="Buildings"
        idProperty="includeBuildings"
        tooltipText="Select this option if using Expanding the House, Oktoberfest, and/or Winter Romance without Building cards"
      ></app-box-with-checkbox>

      <!-- Romantic Vacation Exclusive -->
      <app-box-with-radio-buttons
        header="Reminescenses"
        [selection]="reminecenseOptions"
        idProperty="forceBeer"
        tooltipText="Select this option if using Romantic Vacation without Reminiscence cards"
      ></app-box-with-radio-buttons>

      <!-- Oktoberfest exclusive -->
      <app-box-with-radio-buttons
        header="Beer"
        [selection]="beerOptions"
        idProperty="includeReminecsenses"
        tooltipText="Select this option if using Oktoberfest without the beer mechanic (Beer cards and the Beer Fest building)"
      ></app-box-with-radio-buttons>

      <!-- Winter Romance exclusive -->
      <app-box-with-checkbox
        (eventToggle)="filterChange($event, 'null')"
        [items]="buildingString"
        header="Couples"
        idProperty="includeCouples"
        tooltipText="(Friends, Trial, Drama cards, Meetup Spot cards, Chapel, and Social Bonus)"
      ></app-box-with-checkbox>
    </div>

    <!-- Box for slants -->

    <div class="slant-container">
      <div class="warning-box">
        <div class="warning-header-wrapper">
          <h3>
            The above &uarr; options will apply BEFORE the slant options &darr;
          </h3>
        </div>
        <p>
          &#9734; If you're not getting what you expect or wish for, please look
          at the options above and ensure they line up with your expectations
          &#9734;
        </p>
      </div>
      <div class="options-box">
        <div class="header-wrapper">
          <h3>
            Would you like to slant the town towards any of these options?
          </h3>
        </div>
        <div class="inner-content-container">
          <app-box-with-mutex-checkboxes
            *ngFor="let set of sets"
            [topOptionText]="set.topOptionText"
            [middleOptionText]="set.middleOptionText"
            [topOptionId]="set.topOptionId"
            [middleOptionId]="set.middleOptionId"
            [bottomOptionId]="set.bottomOptionId"
            header="Would you like the town to slant towards the following?"
            (changeSelection)="filterChange($event, 'slantType')"
          ></app-box-with-mutex-checkboxes>
        </div>
        <p class="tooltipText">
          Some options will be greyed out if the options are mutually exclusive,
          or if the resulting town will not contain 10 or more cards
        </p>
      </div>
    </div>
    <app-button text="RANDOMIZE!" (btnClick)="btnClick()"></app-button>
  </div>
</div>

<div *ngIf="showTowns === true">
  <app-saved-town-grid [townList]="savedTownsList"></app-saved-town-grid>
</div>

<div
  class="finished-town"
  *ngIf="finishedTown.length >= 10 && showTowns === false"
>
  <div class="web-container">
    <div class="header-wrapper">
      <h2 class="finished-town-header">Your finished town:</h2>
    </div>
    <app-card-grid [finishedTown]="finishedTown"></app-card-grid>
    <!-- REFACTOR for the saving of towns -->
    <!-- <div class="right-fixed-box">
      <div>
        <input
          type="text"
          placeholder="Name..."
          (input)="writeNameOfTown($event)"
        />
      </div>
      <div>
        <input
          type="text"
          placeholder="Description..."
          (input)="writeDescriptionOfTown($event)"
        />
      </div>
      <app-button (btnClick)="saveTown()" text="Save This Town~"></app-button>
    </div> -->
    <div class="left-fixed-box">
      <h3>Legend:</h3>
      <div class="legend-set-box">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="legend-heart-icon"
        >
          <path
            fill="pink"
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
          />
        </svg>
        <div class="legend-set-title">Base Set</div>
      </div>
      <div class="legend-set-box">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="legend-heart-icon"
        >
          <path
            fill="rgb(238, 173, 127)"
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
          />
        </svg>
        <div class="legend-set-title">Oktoberfest</div>
      </div>
      <div class="legend-set-box">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="legend-heart-icon"
        >
          <path
            fill="rgb(249, 232, 153)"
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
          />
        </svg>
        <div class="legend-set-title">Expanding the House</div>
      </div>
      <div class="legend-set-box">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="legend-heart-icon"
        >
          <path
            fill="rgb(194, 232, 246)"
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
          />
        </svg>
        <div class="legend-set-title">Romantic Vacation</div>
      </div>
      <div class="legend-set-box">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="legend-heart-icon"
        >
          <path
            fill="rgb(138, 166, 236)"
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
          />
        </svg>
        <div class="legend-set-title">Winter Romance</div>
      </div>

      <div class="filter-wrapper"><h3>Filters</h3></div>
    </div>
  </div>
</div>

<!-- 
attack card box 
box to hold cards to be banned -->
