app-box-with-checkbox {
  margin: 5%;
}

.options-box {
  display: flex;
  align-items: normal;
  justify-content: left;
  padding: 1% 4%;
  border: 3px solid pink;
  flex-direction: column;
}
.options-box > app-box-with-mutex-checkboxes {
  margin-left: 25px;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}

.inner-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
