<header>Randomizer~</header>

<!-- box of sets -->
<app-box-with-checkbox
  (eventToggle)="eventToggle($event)"
  [items]="setArray"
  header="Please choose the sets you'd like to include!"
></app-box-with-checkbox>

<!-- Base Game Exclusive-->
<app-box-with-dropdown
  [items]="sistersString"
  header="Keep the sisters together!"
  idProperty="sisterInclusion"
  tooltipText="NOTE: Includes Compy sisters if 'Promo' set is chosen"
></app-box-with-dropdown>

<!-- Base and EtH -->
<app-box-with-checkbox
  (eventToggle)="filterChange($event)"
  [items]="privateMaidString"
  header="Private Maids"
  idProperty="includePrivateMaids"
  tooltipText="Select this option if using Tanto Cuore and/or Expanding the House without Private Maids"
></app-box-with-checkbox>

<!-- Base, Oktober, Winter -->
<app-box-with-checkbox
  (eventToggle)="filterChange($event)"
  [items]="eventString"
  header="Events"
  idProperty="includeEvents"
  tooltipText="Select this option if using Tanto Cuore, Oktoberfest, and/or Winter Romance without Event cards
  NOTE: Winter Romance 'Drama' cards are treated as Event cards."
></app-box-with-checkbox>

<!-- EtH, Oktober, Winter -->
<app-box-with-checkbox
  (eventToggle)="filterChange($event)"
  [items]="buildingString"
  header="Buildings"
  idProperty="includeBuildings"
  tooltipText="Select this option if using Expanding the House, Oktoberfest, and/or Winter Romance without Building cards"
></app-box-with-checkbox>

<!-- Romantic Vacation Exclusive -->
<app-box-with-radio-buttons
  header="Reminescenses"
  [selection]="reminecenseOptions"
  idProperty="forceBeer"
  tooltipText="Select this option if using Romantic Vacation without Reminiscence cards"
></app-box-with-radio-buttons>

<!-- oktoberfest exclusive -->
<app-box-with-radio-buttons
  header="Beer"
  [selection]="beerOptions"
  idProperty="includeReminecsenses"
  tooltipText="Select this option if using Oktoberfest without the beer mechanic (Beer cards and the Beer Fest building)"
></app-box-with-radio-buttons>

<!-- Winter Romance exclusive -->
<app-box-with-checkbox
  (eventToggle)="filterChange($event)"
  [items]="buildingString"
  header="Couples"
  idProperty="includeCouples"
  tooltipText="(Friends, Trial, Drama cards, Meetup Spot cards, Chapel, and Social Bonus)"
></app-box-with-checkbox>

<!-- box of slants 

attack card box 
box tohold cards to be banned -->
